.container {
  background: #fff6e9;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  height: 100vh;
  /* grid-template-areas:
    'header'
    'sidebar content'; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1225px;
  margin: auto;
  width: 100%;
  padding: 12px;
}

.sidebar {
  /* grid-area: sidebar; */
  background-color: #0530f7;
  width: 250px;
  overflow-y: auto;
  max-height: 100vh;
}
.messagesWrapper {
  width: 100%;
  display: grid;
  grid-template-rows: auto 65px;
}
.messages {
  /* grid-area: content; */
  max-width: 600px;
  margin: auto;
  gap: 16px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 48px - 25px);
  overflow-y: scroll;
  padding: 24px 0;
  scrollbar-color: hsl(0deg 0% 40.39% / 43.14%) #fff;
}
.textareaWrapper {
}
.chatContainer {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  background: #fff;
  transition: 0.2s all;
  color: #292c32;
  border-radius: 0;
  max-height: 200px;
  height: 50vh;
  outline: 0;
  border: 0;

  &:not([disabled]):hover {
    background: #604cc3;
    outline: 0;
    border: 0;
    color: #fff;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  .shiba {
    background: transparent url('../../assets/shiba-with-nihontou.svg')
      no-repeat;
    width: 100px;
    height: 100px;
    background-size: contain;
    transition: 0.5s all;
  }

  &.isLoading {
    .shiba {
      animation: dogJump 0.3s ease-in-out infinite alternate;
    }
  }
}

@keyframes dogJump {
  0% {
    transform: translateY(0) scaleX(-1);
  }
  100% {
    transform: translateY(-5px) scaleX(-1);
  }
}

.middle {
  display: flex;
  align-items: center;
  gap: 24px;
}

.select {
  width: 200px;
  border-radius: 6px;
  color: #292c32;
  display: flex;
  flex-direction: column;

  label {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 3px;
    color: #292c32;
  }

  &:focus {
    outline: 0;
  }
}

.logo {
  background: transparent url('../../assets/logo.svg') no-repeat;
  width: 150px;
  height: 50px;
  background-size: contain;
  background-position: center;
}

.nav {
  display: flex;
  gap: 24px;
  place-self: flex-end;
  padding-bottom: 8px;

  a {
    padding: 6px 12px;
    border-radius: 6px;
    display: flex;
    gap: 6px;
    transition: 0.2s all;
  }

  a:hover {
    background: #80c4e9;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    margin: 0;
  }
  .middle {
    flex-direction: column;
    gap: 3px;
  }
  .nav {
    padding-bottom: 0;
    place-self: center;
  }
  .chatContainer {
    flex-direction: column;
  }
  .btn {
    height: 48px;
    max-height: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 4px 0;
    background: transparent;
    border: 2px solid #ff7f3e;
    border-radius: 6px;
    padding: 6px;
    max-width: 600px;

    .shiba {
      width: 40px;
      height: 40px;
    }
  }
  .container {
    grid-template-rows: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
  }
  .select label {
    text-align: center;
  }
}

.headIcon {
}
.btnHeader {
  all: unset;
  background: transparent;
  color: #646cff;
  font-weight: 450;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    padding-top: 3px;
  }

  &:hover {
    background: #80c4e9;
    color: #fff;
  }
}
