.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #fff6e9;
  position: relative;
}

.title {
  all: unset;
  font-size: 1.7rem;
  text-align: center;
}

.box {
  background: #f7bb05;
  padding: 12px 48px 36px;
  border-radius: 16px;
  max-width: 360px;
  max-height: 600px;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 12px;

  img {
    width: 150px;
    height: 150px;
    margin: auto;
    /* animation: dogHeadShake 0.1s ease-in-out infinite; */
  }

  input {
    background: #fff;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    color: #292c32;
    padding: 8px 18px;
  }

  button[type='button'] {
    background: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    padding: 8px;
    transition: 0.2s all;
    font-size: 0.9rem;

    &:hover {
      background: #292c32;
    }
  }
}

@keyframes dogHeadShake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification {
  place-self: end;
  position: fixed;
  right: 24px;
  bottom: 24px;
}
