.container {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: auto;
  position: relative;
}

.input {
  width: 100%;
  background: #fff;
  color: #292c32;
  padding: 16px;
  resize: none;
  max-height: 200px;
  height: 50vh;
  border: 0;
  font-size: 18px;
  border-radius: 0 6px 6px 0;

  &.left {
    border-radius: 6px 0 0 6px;
  }

  &:focus {
    outline: none;
    border: 0;
  }
}
.copyButton {
  position: absolute;
  right: 42px;
  top: 16px;
}
